.formContainer{
    margin: auto; 
    margin-top: 10vh; 
    padding: 20px;
    width: 300px;
    justify-content: center; 
    align-items: center; 
    height: 50%;
    background-color: red;
    padding: 20px;
    border: 2px solid black ;
}

.formContainer p{
    color: white;
    font-size: 20px;
}